@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


body {
  font-size: 100%;
}


.inner {
  width: 100%;
  border-top: 1px solid white;
  padding-inline: 5px;
  padding-right: 40px;
}

.card {
  max-width: fit-content;
  padding-block: 10px;
  /* padding-inline: 5px; */
  background-color: black;
  color: white;
  font-family: "Google Sans";
}
.card h2 {
  font-size: 4em;
  margin: 0;
}

.circle_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;

  width: 40px;
  height: 40px;

  font-size: xx-large;
  margin-inline-end: 10px;
}
.bg-green {
  background-color: green;
  color: rgba(238, 234, 234, 0.845);
}
.bg-red {
  background-color: red;
  color: rgba(243, 245, 246, 0.785);
}